<ion-header>
  <ion-toolbar>
    <ion-buttons slot="primary">
      <ion-button (click)="dismiss()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Available Heroes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-list lines="full">
    <ion-list-header>
      <ion-select placeholder="Order by" (ionChange)="tapFilter($event)">
        <ion-select-option value="amount">Order by Amount</ion-select-option>
        <ion-select-option value="ratings">Order by Ratings</ion-select-option>
      </ion-select>
    </ion-list-header>
    <ion-item *ngFor="let hero of heroes">
        <ion-avatar slot="start" (click)="view(hero);">
          <img *ngIf="hero.profile.photo!=null" src="{{img_link+hero.profile.photo}}">
          <img *ngIf="hero.profile.photo==null" src="{{default_photo}}">
        </ion-avatar>
        <ion-label>
          <h2>{{hero.profile.first_name}} {{hero.profile.last_name}}</h2>

          <ion-icon slot="icon-only" name="star" *ngFor="let item of [].constructor(hero.rating); let i = index"></ion-icon>
          <ion-icon slot="icon-only" name="star-outline" *ngFor="let item of [].constructor(5 - hero.rating); let i = index"></ion-icon>

          <h3 *ngIf="(input.payper*1) < 8">₱ {{ (hero.pivot.pay_per*1)*(input.payper*1) }}</h3>
          <h3 *ngIf="(input.payper*1) == 8">Flat Rate: ₱ 700</h3>
          <!-- {{ hero.route.distance.text }} -->
          <span class="route" *ngIf="hero.route">
            <ion-icon name="pin"></ion-icon> {{ hero.route.distance.text }} away<br>
            <ion-icon name="clock"></ion-icon> {{ hero.route.duration.text }}
          </span>
          <span class="route" *ngIf="!hero.route">
            Calculating distance...
          </span>
        </ion-label>
        <ion-buttons slot="end">
          <ion-button (click)="selectHero(hero)">
            <ion-icon slot="icon-only" name="add-circle"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-item>
    </ion-list>  
</ion-content>

