:host {


	ion-grid {
		background: #1486a0;
		border-radius: 3px;

		ion-row {
			border-bottom: .1px solid #eee;
    	padding: 4px 0;

			.label {
				color: #fff;
				font-size: 8pt;
				width: 35%;
			}

			.value {
				color: #fff;
				width: 65%;
				font-size: 10pt;
			}
		}
	}
}
